h1 {
    font-family: Georgia, serif;
}

.item-name-div {
    background: var(--die-highlight-color);
    border: 3px double var(--die-muted-brown);
    text-align: center;
}


i.item-flavor {
    font-family: Luminari, serif;

}

div.item-flavor {
    --curve-px: 16px;
    background: var(--die-highlight-faint);
    border: 3px double var(--die-muted-brown);
    border-top: 0;
    border-bottom-left-radius: var(--curve-px);
    border-bottom-right-radius: var(--curve-px);
}


div.item-description {
    font-size: 18px;
}

hr.solid {
  border: 2px solid var(--die-brown);
    background-color: var(--die-brown);
    color: var(--die-brown);
    opacity: .75;
}


.rhs-info-table td {
    text-align: left;
}

.rhs-info-table i {
    color: var(--main-bg-color);
}


i.fa-check-square {
    color: #044a04;
}

span.trait-tier {
    font-size: 14px;
}

p.trait-description {
    text-indent: 25px;
}