<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Aftermath</title>
    <link rel="stylesheet" type="text/css" href="{% static "item_management/css/items.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "item_management/css/tables.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "item_management/css/nav.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "lib/DataTables/datatables.min.css" %}">

    {% block additional_css %} {% endblock additional_css %}
</head>

<body>
{% include 'item_management/navbar.html' %}

<div class="container-fluid">
<div class="row my-2">
    <div class="col-md-1 col-lg-2 d-none d-md-block"></div>
    <div class="col-sm-12 col-md-10 col-lg-8">
        <div class="container-fluid border table-container" style="height: 100vh">

         {%  block content  %} {% endblock content %}

        </div>
    </div>
    <div class="col-md-1 col-lg-2 d-none d-md-block"></div>
</div>
</div>
</body>

{% block scripts %} {% endblock scripts %}

</html>