.truncate {
    max-width:75px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.model-type {
    text-transform:capitalize;
}

.attunement {
    text-transform: capitalize;
}